h2{
    color: grey;
}
.green{
    color: green;
}
.red{
    color: red;
}
.Gold{
    color: gold;
}
.Grey{
    color: grey;
}
.Organe{
    color:orange;
}
.center{
    text-align: left
}
table{
    background-color: #666;
}